@mixin center(){
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin centerh(){
    top: 50%;
    transform: translatey(-50%);
}

@mixin centerw(){
    left: 50%;
    transform: translatex(-50%);
}

@mixin mottohide(){
    @keyframes mottohide {
        from {  
            opacity:1;



        }
        to {
            opacity:0;

        }
    }
}

@mixin mottoshow(){
    @keyframes mottoshow {
        from {  
            opacity:0;



        }
        to {
            opacity:1;

        }
    }
}


@mixin secondtxtshow(){
    @keyframes secondtxtshow {
        from {  
            transform: translateX(40%);
            opacity: 0;

        }
        to {
            transform: translateX(0%);
            opacity: 1;
        }
    }
}

@mixin secondlogoshow(){
    @keyframes secondlogoshow {
        from {  
            transform: translateX(60%);
            opacity: 0;

        }
        to {
            transform: translateX(-54%);
            opacity: 1;
        }
    }
}

@mixin thirdtxtshow(){
    @keyframes thirdtxtshow {
        from {  
            transform: translateX(-8%);
            opacity: 0;

        }
        to {
            transform: translateX(0%);
            opacity: 1;
        }
    }
}

@mixin fourthtxtshow(){
    @keyframes fourthtxtshow {
        from {  
            transform: translateX(10%);
            opacity: 0;

        }
        to {
            transform: translateX(0%);
            opacity: 1;
        }
    }
}

@mixin formanim(){
    @keyframes formanim {
        0% {
            opacity: 0;

        }
        80%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
}

@mixin loading(){
    @keyframes loading {
        0% {
            opacity: 0;

        }
        50% {
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }
}

@mixin fx{
    @-webkit-keyframes fx {
        50% {
            -webkit-transform: scale(1);
                    transform: scale(1);
            opacity: 1;
      }
      100% {
            opacity: 0;
      }
    }
    @keyframes fx {
      50% {
            -webkit-transform: scale(1);
                    transform: scale(1);
            opacity: 1;
      }
      100% {
            opacity: 0;
      }
    }
}
