@import "mixins";
@import "../bourbon/bourbon";

nav{
    margin-top: -100px;
}

#menutop{
    background-image: url(../img/bg.png);
    margin-top: 100px;

    h3,h4{
        position: relative;
        width: 90%;
        @include centerw;
        text-align: center;
        font-family: 'Croissant One';
        font-size: 55px;
        line-height: 70px;
        padding-top: 290px;
        font-weight: 100;
    }
    .separator{
        margin-top: 10px;
        opacity: 1;
    }

    h4{
        padding-top: 0;
    }
    img{
        position: relative;
        @include centerw;
        height: 80px;
    }
}

#categorybox{
    float: left;
    width: 15%;
    height: 100%;
    background-color: #3a2b2b;
    padding-bottom: 30px;
    img{
        position: relative;
        @include centerw;
        height: 80px;
        margin-top: 5px;
    }

    .category{
        font-size: 25px;
        margin-top: 5px;
        position: relative;
        height: 30px;

        p{
            width: 100%;
            color: white;
            height: 30px;
            line-height: 30px;
            font-family: Roboto;

            img{
                float: left;
                position: relative;
                @include clearfix;
                width: 10px;
                height: 10px;
                margin: 0;
                margin-right: 10px;
                margin-left: 2.5px;
                @include centerh;
                left: 0;
            }

        }

        p:hover{
            background-color: #d0b77b;
            background-size: cover;
            background-position: top left;
            box-shadow: 0px 0px 6.84px 2.16px rgba(0, 0, 0, 0.83);
        }
    }

    .menuspacer{
        background-color: white;
        height: 30px;
        width: 2px;
        position: relative;
        margin-top: 5px;
        left: 6px;
    }
}

#menuholder{
    width: 55%;
    height: 100px;
    float: left;
    position: relative;

    .menubox{
        position: absolute;
        width: 100%;
        display: none;
        p{
            width: 95%;
            position: relative;
            @include centerw;
            margin-top: 10px;
        }
    }
}

#images{
    width: 30%;
    float: left;
    @include clearfix;

    img{
        width: 100%;
        margin-top: 20px;
        position: relative;
        @include centerw;
        //max-height: TO DO!
    }
}

footer{
    position: relative;
    float: left;
    @include clearfix;
}
