@import "mixins";
@import "../bourbon/bourbon";

*{
    margin: 0;
}

a{
    color: white;
    text-decoration: none;
}

//JS CLASSES

.small{
    height: 100px;
    background-color: rgba(48,48,48,1);
    @include transition(all 0.2s ease-in-out);
    box-shadow: 0 0px 6px #000;
    
    #logoside {
    
        p{

            font-size: 20px;
            @include transition(all 0.2s ease-in-out);
        }
    }
    
    #menuside {
	
        a{
            p{
                line-height: 100px;
                font-size: 20px;
                @include transition(all 0.2s ease-in-out);
                
            }
        }
    }
    
}

.big{
    height: 200px;
    background-color: rgba(48,48,48,0);
    @include transition(all 0.2s ease-in-out);
    
    #logoside {
    
        p{

            font-size: 30px;
            @include transition(all 0.1s ease-in-out);
        }
    }
    
    #menuside {
	
        a{
            p{
                line-height: 200px;
                font-size: 30px;
                @include transition(all 0.1s ease-in-out);
            }
        }
    }
    
}

.mottohide{
    opacity: 0;
    @include mottohide;
    animation-name: mottohide;
    animation-duration: 0.4s;
    animation-timing-function: ease-in;
}

.mottoshow{
    opacity: 1;
    @include mottoshow;
    animation-name: mottoshow;
    animation-duration: 0.4s;
    animation-timing-function: ease-in;
}

.secondtxtshow{
    @include secondtxtshow;
    animation-name: secondtxtshow;
    animation-duration: 0.6s;
    animation-timing-function: linear;
}

.secondlogoshow{
    @include secondlogoshow;
    animation-name: secondlogoshow;
    animation-duration: 0.6s;
    animation-timing-function: linear;
}

.thirdtxtshow{
    @include thirdtxtshow;
    animation-name: thirdtxtshow;
    animation-duration: 1s;
    animation-timing-function: linear;
}

.fourthtxtshow{
    @include fourthtxtshow;
    animation-name: fourthtxtshow;
    animation-duration: 0.6s;
    animation-timing-function: linear;
}

.formanim{
    @include formanim;
    animation-name: formanim;
    animation-duration: 4s;
    animation-timing-function: linear;
}
.loading{
    @include loading;
    animation-name: loading;
    animation-duration: 3s;
    animation-timing-function: linear;
}

//REST
body{
    overflow-x: hidden;
    width: 100%;
}

.holder{
    width: 100%;
    height: 760px;
    position: relative;
}
#content{
    z-index: 2;
    position: absolute;
    margin-bottom: 70px;
    width: 100%;
    overflow: hidden;
}

.separator{
    width: 60%;
    height: 6px;
    background-color: #d0b77b;
    margin: auto;
    opacity: 0;
        
}

#thirdseparator{
    position: absolute;
    bottom: 300px;
    @include centerw();
    opacity: 1;
}

nav{
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 200px;
    @include transition(all 0.5s ease-in-out);

    #logoside{
        height: 100%;
        position: relative;
        width: 30%;
        float: left;
        
        p{
            float: left;
            color: #fff;
            font-size: 30px;
            width: 50%;
            text-align: center;
            font-family: 'Roboto', sans-serif; 
            font-weight: 600;
            position: relative;
            @include centerh;
            @include clearfix;

            
        }
        
        img{
            width: auto;
            height: auto;
            @include centerh;
            position: relative;
            float: left;
            max-height: 100%;
            max-width: 50%;

        }
    }
    
    #menubutton{
        position: absolute;
        max-height: 30%;
        @include centerh;
        width: 0;
        margin-right: 50px;
    }

    #menuside{
        width: 70%;
        height: 100%;
        float: left;
        @include clearfix;
        @include transition(transform 0.5s ease-in-out);
        
        a{
            color: #fff;
            text-decoration: none;

            
            p{
                font-size: 40px;
                width: 25%;
                text-align: center;
                line-height: 150px;
                font-family: 'Roboto', sans-serif; 
                font-weight: 600;
                position: relative;
                float: left;
                @include clearfix;
            }
        }
    }
}

#movie{
    height: 100vh;
    width: 100%;
    position: relative;
    
    video{
        height: auto;
        position: absolute;
        @include center;
        width: auto;
        min-height: 100%;
        min-width: 100%;
        
    }
    
    p{
        position: absolute;
        z-index: 2;
        font-family: 'Roboto', sans-serif; 
        color: white;
        @include center;
        font-size: 80px;
        width: 90%;
        text-align: center;
    }
}

#secondholder{
    figure{
        width: 50%;
        height: 100%;
        float: left;
        position: relative;
        background-image: url(../img/kitchen.jpg);
        background-size: cover;
    }
    
    #secondtxt{
        width: 50%;
        height: 100%;
        position: relative;
        float: left;
        @include clearfix;
        z-index: 2;
        //background-color: #f8dcc1;
        background-image: url(../img/bg.png);
        
        p{
            padding-top: 300px;
            font-family: 'Croissant One';
            height: 200px;
            text-align: center;
            display: table-cell; 
            vertical-align: middle;
            font-size: 32px;
            opacity: 0;
            color: black;

            
        }
        
        
        img{
            height: 82px;
            position: relative;
            @include centerw;
            top: 10px;
            opacity: 0;
        }
    }
}

#thirdholder{
    background-color: #271515;
    
    
    p{
        text-align: center;
        position: relative;
        line-height: 760px;
        font-size: 39px;
        opacity: 0;
        font-family: 'PT Serif', serif;
        color: white;
    }
}

#fourthholder{
    background-image: url(../img/bg.png);
    
    figure{
        width: 30%;
        height: 100%;
        float: left;
        position: relative;
        background-image: url(../img/food.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    #fourthtext{
        width: 70%;
        height: 100%;
        position: relative;
        float: left;
        
        p{
            height: 300px;
            font-family: 'PT Serif', serif;
            display: table-cell; 
            vertical-align: middle;
            position: relative;
            text-align: center;
            font-size: 35px;
            opacity: 0;
            padding-left: 5%;
            padding-right: 5%;
            color: black;
        } 
        
        p:first-of-type{
            padding-top: 77px;
        }
    }
    
}

#fifthholder{
    background-image: url(../img/miseczki.jpg);
    background-size: cover;
    height: 600px;
    background-attachment: fixed;
    font-family: 'PT Serif', serif;
    
}

#sixthholder{
    background-color: #424241;
    
    #map{
        position: relative;
        width: 30%;
        height: 100%;
        float: left;
    }
    
    #sixthtext{
        width: 70%;
        height: 100%;
        float: left;
        @include clearfix;
        position: relative;
        @include centerh;
        text-align: center; 
        color: #fff;
        font-size: 35px;
        font-family: 'Roboto', sans-serif; 
        font-weight: 400;
        
        h3{
            width: 50%;
            float: left;
            @include clearfix;
            margin-top: 50px;
            margin-bottom: -80px;
            font-size: 40px;
            height: 50px;
        }

            #pbox{
                @include centerh;
                position: relative;
                width: 50%;
                text-align: center; 
                color: #fff;
                font-size: 35px;
                font-family: 'Roboto', sans-serif; 
                font-weight: 400;
                float: left;
                p{
                    width: 80%;
                    position: relative;
                    @include centerw;
                    font-size: 50px;
                }
                
                
            }
        
        #space{
            width: 2%;
            max-width: 10px;
            height: 80%;
            float: left;
            background-color: #d0b77b;
            position: relative;
            @include centerh;
        }
        
        #centerform{
            float: left;
            @include clearfix;
            width: 48%;
            height: 100%;
            position: relative;
            
            h2{
                position: absolute;
                @include center;
                font-size: 30px;
                            }
            
            #form{
                width: 70%;
                height: auto;
                @include center;
                position: absolute;
                font-family: 'Roboto', sans-serif;
            
                h4{
                    color: yellow;
                    margin-bottom: 10px;
                    font-size: 20px;
                }
                
                .input-group:last-of-type{
                    height: 100px;
                }
                .input-group{
                    margin-bottom: 10px;
                    height: 40px;
                    background-color: #363636;
                    overflow: hidden;
                    border-radius: 10px 0 0 10px;


                    input, textarea, input:focus, textarea:focus{
                        width: 86%;
                        margin-left: 2%;
                        float: left;
                        position: relative;
                        @include centerh;
                        background-color: #363636;
                        border: 0;
                        color:#969696;
                        resize: none;
                        outline: none;
                    }

                    textarea{
                        margin: 3px -1px;
                        padding: 0;
                    }

                    span{
                        width: 12%;
                        height: 100%;
                        position: relative;
                        float: left;
                        background-color: #303030;
                        img{
                            width: 70%;
                            max-height: 100%;
                            height: auto;
                        }
                    }

                }

                #submit{
                    width: 100%;
                    border: 0;
                    height: 40px;
                    background-color: #363636;
                    color: #969696;
                    @include clearfix;
                }

            }
        }
    }
}

footer{
    height: 70px;
    position: fixed;
    background-color: rgba(48,48,48,1);
    bottom: 0;
    width: 100%;
    z-index: 1;
    
    #footerholder{
        height: 100%;
        width: 600px;
        position: relative;
        float: left;
        @include centerw();


        img{
            height: 90%;
            float: left;
        }
        
        p{
            float: left;
            @include clearfix;
            line-height: 75px;
            font-family: 'Roboto', sans-serif; 
            font-weight: 400;

        }
    }

}
#wrapper{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 9999;
    background-color: rgba(38, 38, 36, 0.9);


    figure{
        position: absolute;
        @include center;
         width: 60%;
        img{
              width: 100%;
            }
        #close{

            position: absolute;
            right: 10px;
            top: 10px;
            width: 40px;

        }
     }
}
#wrappercolor{
    background-color: rgba(38, 38, 36, 0.9);
    z-index: 9999;
    position: absolute;
}
//Responsiveness

@media all and (max-width: 1720px){
    
    
    #content{

          #thirdholder{
            p{
                font-size: 35px;

            }
        }
    }
}

@media all and (max-width: 1520px){
    
    
    #content{
            #secondholder {
	           #secondtxt {
                   p{
                       font-size: 29px;
                   }
                }
            }
          #thirdholder{
            p{
                font-size: 30px;

            }
        }
    }
}


@media all and (max-width: 1450px){
    .big{
        #logoside {

            p{
                font-size: 25px;
            }
        }

        #menuside {

            a{
                p{
                    font-size: 25px;
                }
            }
        }

    }
    .small{
        #logoside {

            p{
                font-size: 20px;
            }
        }

        #menuside {

            a{
                p{
                    font-size: 20px;
                }
            }
        }

    }
}

@media all and (max-width: 1320px){


    #content{

          #thirdholder{
            p{
                font-size: 27px;

            }
        }
    }
}

@media all and (max-width: 1210px){
    #content{

        #thirdholder{
            p{
                font-size: 22px;

            }
        }
    }
    
    .big{
        #logoside {

            p{
                font-size: 20px;
            }
        }
    
        #menuside {

            a{
                p{
                    font-size: 20px;
                }
            }
        }

    }
    .small{
        #logoside {

            p{
                font-size: 15px;
            }
        }

        #menuside {

            a{
                p{
                    font-size: 15px;
                }
            }
        }

    }
}

@media all and (max-width: 1050px){

    
    .big{
        #logoside {

            p{
                font-size: 18px;
            }
        }

        #menuside {

            a{
                p{
                    font-size: 18px;
                }
            }
        }

    }
    .small{
        #logoside {

            p{
                font-size: 12px;
            }
        }

        #menuside {

            a{
                p{
                    font-size: 12px;
                }
            }
        }

    }
}
//Mobile
@media all and (max-width: 960px){
    #wrapper {
        display: none;
        width: 0;
    }

    #content {
        nav{
            position: relative;
            #menuside{
                position: absolute;
                height: 400px;
                width: 70%;
                margin-top: 100px;
                transform: translateX(-100%);
                background-color: #303030;
                p{
                    width: 100%;
                    font-size: 40px;
                    height: 98px;
                    border-bottom: 1px solid gray;
                    border-top: 1px solid gray;
                }

            }
            #menubutton{
                width: auto;
                right: 0;
            }
        }
        #movie{
            display: none;
            width: 0;
        }



        #secondholder {
	       #secondtxt {
               width: 100%;
               p, .separator, img{
                   opacity: 1;
               }
            }
            figure{
                display: none;
                width: auto;
                right: 0;
            }
        }
        #thirdholder {
            p{
                opacity: 1;
            }
        }

        #fourthholder {
            figure{
                display: none;
                width: 0;
            }
	       #fourthtext {
               width: 100%;
               p, .separator{
                   opacity: 1;
               }
            }
        }

        #fifthholder {
	       display: none;
        }

        #sixthholder{
            #map, #centerform, .container, #space{
                display: none;
            }

            #sixthtext{
                width: 100%;
            }
            h3:first-of-type{
                display: none;
            }

            h3:last-of-type{
                width: 100%;
            }

            #pbox{
                width: 100%;
                height: 20%;
            }
        }
    }

}


.container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10;
    opacity: 0;

}
.dot {
    width: 20px;
    z-index: 10;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    float: left;
    margin: 0 5px;
    @include fx;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-animation: fx 1000ms ease infinite 0ms;
            animation: fx 1000ms ease infinite 0ms;
}
.dot:nth-child(2) {
    @include fx;
    -webkit-animation: fx 1000ms ease infinite 300ms;
        animation: fx 1000ms ease infinite 300ms;
}
.dot:nth-child(3) {
    @include fx;
    -webkit-animation: fx 1000ms ease infinite 600ms;
            animation: fx 1000ms ease infinite 600ms;
}




